@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 15;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at center, #1a202c 0%, #000000 100%);
  min-height: 100vh;
}

/* Efek Glassmorphism (Kaca Gelap) */
.glass-panel {
  background: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 229, 255, 0.2);
}

/* Animasi Glow Input */
input:focus, select:focus {
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
  border-color: #00e5ff;
}
